code,
  kbd,
  pre,
  samp {
    font-family: monospace, monospace;
    /* Specify the font family of code elements */
  }

  .v-application code:after, .v-application code:before, .v-application kbd:after, .v-application kbd:before {
    content: " ";
    letter-spacing: -1px;
  }
  .v-application code {
    background-color: #f5f5f5;
    color: #bd4147;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  }
  .v-application kbd {
    background: #616161;
    color: #FFFFFF;
  }
  .v-application code, .v-application kbd {
    display: inline-block;
    border-radius: 3px;
    white-space: pre-wrap;
    font-size: 85%;
    font-weight: 900;
  }
  