@import './tomorrow.scss';
@import './prism-line-number.scss';

//plugin gridsome-prism-all

@import './code-title';

.gridsome-highlight {
  background-color: #2d2d2d;
  border-radius: 0.3em;
  margin: 0.5em 0;
  padding: 1em;
  overflow: auto;
}

.gridsome-highlight pre[class*='language-'] {
  background-color: transparent;
  margin: 0;
  padding: 0;
  padding-top: 0;
  padding-bottom: 0;
  overflow: initial;
  float: left; /* 1 */
  min-width: 100%; /* 2 */
}

.gridsome-highlight pre[class*='language-'].line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}

@import './code-line';

// End plugin gridsome

// Show language

.gridsome-highlight {
  position: relative;
  overflow: auto;
}

.gridsome-highlight[data-language]::before {
  position: absolute;
  top: 0;
  right: 1rem;
  padding: 2px 10px;
  font-size: 0.7rem;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  border-radius: 0 0 5px 5px;
  color: black;
  background: white;

  box-sizing: initial; // Reset vuetify - empeche la barre de scroll !
}
