@import './code-title/';
@import './syntax-highlight/';
//@import './line-numbers/';

.gridsome-highlight-code-line {
    background-color: rgba($purple, 0.25);;
    display: block;
    margin-right: -1em;
    margin-left: -1em;
    padding-right: 1em;
    padding-left: 0.75em;
    border-left: 0.25em solid $purple;
  }

  /**
 * Add back the container background-color, border-radius, padding, margin
 * and overflow that we removed from <pre>.
 */
.gridsome-highlight {
    background-color: $background;
    border-radius: 0.3em;
    margin: 0.5em 0;
    padding: 1em;
    overflow: auto;
  }
  
  /**
   * Remove the default PrismJS theme background-color, border-radius, margin,
   * padding and overflow.
   * 1. Make the element just wide enough to fit its content.
   * 2. Always fill the visible space in .-gridsome-highlight.
   * 3. Adjust the position of the line numbers
   */
  .gridsome-highlight pre[class*="language-"] {
    background-color: transparent;
    margin: 0;
    padding: 0;
    overflow: initial;
    float: left; /* 1 */
    min-width: 100%; /* 2 */
  }

  /**
 * If you already use line highlighting
 */

/* Adjust the position of the line numbers */
.gridsome-highlight pre[class*="language-"].line-numbers {
    padding-left: 2.8em;
  }

  .command-line-prompt > span:before {
    color: #999;
    content: " ";
    display: block;
    padding-right: 0.8em;
  }
  
  /* Prompt for all users */
  .command-line-prompt > span[data-user]:before {
    content: "[" attr(data-user) "@" attr(data-host) "] $";
  }
  
  /* Prompt for root */
  .command-line-prompt > span[data-user="root"]:before {
    content: "[" attr(data-user) "@" attr(data-host) "] #";
  }
  
  .command-line-prompt > span[data-prompt]:before {
    content: attr(data-prompt);
  }


  

/* .gridsome-code-title {
	position: relative;
	z-index: 100;
    margin-bottom: -0.8em;
    background-color: #1d1f27; //solarized highlight lines color
    color: #f8f8f2;             // why not ;-)
    font-style: italic;
    font-weight: 100;
    text-align: center;
    font-family: PT Mono, Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
	line-height: 1.5;	
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;	
} */


  
  .gridsome-code-title {
    position: relative;
    z-index: 100;
    margin-bottom: -0.8em;
    color: #f8f8f2; 
    background-color: #1d1f27;
    font-style: italic;
    font-weight: 100;
    text-align: center;
    letter-spacing: -1px;
    font-family: PT Mono, Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    line-height: 1.5;
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
    border-bottom: 1px solid #6272a4;
  }


